p Dear #{name}

p Thank you for your payment (Order: #{orderId})

p Your total was $#{price}.

p for the items

p #{items}

p The next step is to pick a collection time for your order using this link:
a(href="https://calendly.com/ryanguo02/printing-pickup") https://calendly.com/ryanguo02/printing-pickup

p If you have any issues, email us at
a(href="mailto:primalprintingnz@gmail.com") primalprintingnz@gmail.com
p or text us on 02108678038

p Thank you again for your support 🙂

p Best,
p Ryan
