:root {
  color-scheme: only light;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Quicksand, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

body {
  overflow-x: hidden;
}

.container {
  margin-top: 4rem;
  padding: 0 7%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
}

.secheading {
  z-index: 999;
 
  height: 0.5rem;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  align-items: center;
  margin: auto;
  align-items: center;

}

@font-face {
  font-family: coffeematcha;
  src: url('/fonts/coffeematcha.ttf');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}