

.mainimage {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.titletext {
    font-family: "coffeematcha";
}




@media only screen and (max-width:1350px) {
    .titletext {
        font-size: 5rem;
    }
}

@media only screen and (max-width:1000px) {
    .mainimage {
        margin: 0 -7%;
    }
}